[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

easy-thumbnails = "==2.5"
django = "==2.0.2"
ipdb = "*"


[requires]

python_version = "3.6"
